!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head

	body
		include partials/header
		.main-content
			.blog.blog-fullwidth
				.container
					.post
						.post-content
							h2.post-title 
								a(href="blog-single.html") The Title 1
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
						.post-image
							a(href="blog-single.html")
								img(src="assets/blog/950_380_01.jpg", alt="")
							.image-shadow
						.post-content
							.post-excerpt
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								a.btn.btn-silver(href="blog-single.html") Read More

					.post
						.post-content
							h2.post-title 
								a(href="blog-single.html") The Title 2
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
						.post-image
							a(href="blog-single.html")
								img(src="assets/blog/950_380_02.jpg", alt="")
							.image-shadow
						.post-content
							.post-excerpt
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								a.btn.btn-silver(href="blog-single.html") Read More

					.post
						.post-content
							h2.post-title 
								a(href="blog-single.html") The Title 3
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
						.post-image
							a(href="blog-single.html")
								img(src="assets/blog/950_380_03.jpg", alt="")
							.image-shadow
						.post-content
							.post-excerpt
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								a.btn.btn-silver(href="blog-single.html") Read More

					ul.dark-theme.simple-pagination
						li
							a.page-link.prev(href="#page-2") Prev
						li
							a.page-link(href="#page-1") 1
						li
							a.page-link(href="#page-2") 2
						li.active
							span.current 3
						li
							a.page-link(href="#page-4") 4
						li.disabled
							a.ellipse …
						li
							a.page-link(href="#page-18") 18
						li
							a.page-link(href="#page-19") 19
						li
							a.page-link(href="#page-20") 20
						li
							a.page-link.next(href="#page-4") Next

		include partials/footer

