!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head


	body
		include partials/header
		.main-content
			.container
				h3 Three Tables, 30+ colors
				.pricing-table
					.row-fluid
						.span4
							.plan.btn-black
								h3 Basic
								p
									span.dollar-sign $ 
									| 29
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong 1
									|  Website
								li
									strong 100GB
									|  Disk Space
								li
									strong 10
									|  Database
								li
									strong 100
									|  Email Address
								li.sign-up
									a.btn.btn-black(href="#") Sign Up
						.span4
							.plan.btn-teal
								h3 Standard
								p
									span.dollar-sign $ 
									| 59
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong Unlimited
									|  Website
								li
									strong Unlimited
									|  Disk Space
								li
									strong 25
									|  Database
								li
									strong 500
									|  Email Address
								li.sign-up
									a.btn.btn-teal(href="#") Sign Up
						.span4
							.plan.btn-olive
								h3 Ultimate
								p
									span.dollar-sign $ 
									| 99
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong Unlimited
									|  Website
								li
									strong Unlimited
									|  Disk Space
								li
									strong Unlimited
									|  Database
								li
									strong Unlimited
									|  Email Address
								li.sign-up
									a.btn.btn-olive(href="#") Sign Up

				h3 Four tables, 30+ colors
				.pricing-table
					.row-fluid
						.span3
							.plan.btn-silver
								h3 Free
								p
									span.dollar-sign $ 
									| 0
									span.per-month  /mo
							ul.plan-features
								li
									strong No
									|  Support
								li
									strong limited
									|  Bandwidth
								li
									strong 1
									|  Website
								li
									strong 10GB
									|  Disk Space
								li
									strong 1
									|  Database
								li
									strong 10
									|  Email Address
								li.sign-up
									a.btn.btn-silver(href="#") Sign Up
						.span3
							.plan.btn-dark-brown
								h3 Basic
								p
									span.dollar-sign $ 
									| 29
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong 1
									|  Website
								li
									strong 100GB
									|  Disk Space
								li
									strong 10
									|  Database
								li
									strong 100
									|  Email Address
								li.sign-up
									a.btn.btn-purple(href="#") Sign Up

						.span3
							.plan.btn-deep-taupe
								h3 Standard
								p
									span.dollar-sign $ 
									| 59
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong Unlimited
									|  Website
								li
									strong Unlimited
									|  Disk Space
								li
									strong 25
									|  Database
								li
									strong 500
									|  Email Address
								li.sign-up
									a.btn.btn-green(href="#") Sign Up

						.span3
							.plan.btn-baby-blue
								h3 Ultimate
								p
									span.dollar-sign $ 
									| 99
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong Unlimited
									|  Website
								li
									strong Unlimited
									|  Disk Space
								li
									strong Unlimited
									|  Database
								li
									strong Unlimited
									|  Email Address
								li.sign-up
									a.btn.btn-pink(href="#") Sign Up

				h3 More colors
				.pricing-table
					.row-fluid
						.span3
							.plan.btn-cyan
								h3 Free
								p
									span.dollar-sign $ 
									| 0
									span.per-month  /mo
							ul.plan-features
								li
									strong No
									|  Support
								li
									strong limited
									|  Bandwidth
								li
									strong 1
									|  Website
								li
									strong 10GB
									|  Disk Space
								li
									strong 1
									|  Database
								li
									strong 10
									|  Email Address
								li.sign-up
									a.btn.btn-fuchsia(href="#") Sign Up
						.span3
							.plan.btn-coffee
								h3 Basic
								p
									span.dollar-sign $ 
									| 29
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong 1
									|  Website
								li
									strong 100GB
									|  Disk Space
								li
									strong 10
									|  Database
								li
									strong 100
									|  Email Address
								li.sign-up
									a.btn.btn-cornsilk(href="#") Sign Up

						.span3
							.plan.btn-midori
								h3 Standard
								p
									span.dollar-sign $ 
									| 59
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong Unlimited
									|  Website
								li
									strong Unlimited
									|  Disk Space
								li
									strong 25
									|  Database
								li
									strong 500
									|  Email Address
								li.sign-up
									a.btn.btn-yellow(href="#") Sign Up

						.span3
							.plan.btn-aero
								h3 Ultimate
								p
									span.dollar-sign $ 
									| 99
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong Unlimited
									|  Website
								li
									strong Unlimited
									|  Disk Space
								li
									strong Unlimited
									|  Database
								li
									strong Unlimited
									|  Email Address
								li.sign-up
									a.btn(href="#") Sign Up
				.pricing-table
					.row-fluid
						.span3
							.plan.btn-golden
								h3 Free
								p
									span.dollar-sign $ 
									| 0
									span.per-month  /mo
							ul.plan-features
								li
									strong No
									|  Support
								li
									strong limited
									|  Bandwidth
								li
									strong 1
									|  Website
								li
									strong 10GB
									|  Disk Space
								li
									strong 1
									|  Database
								li
									strong 10
									|  Email Address
								li.sign-up
									a.btn.btn-brown(href="#") Sign Up
						.span3
							.plan.btn-orange
								h3 Basic
								p
									span.dollar-sign $ 
									| 29
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong 1
									|  Website
								li
									strong 100GB
									|  Disk Space
								li
									strong 10
									|  Database
								li
									strong 100
									|  Email Address
								li.sign-up
									a.btn.btn-cyan(href="#") Sign Up

						.span3
							.plan.btn-purple
								h3 Standard
								p
									span.dollar-sign $ 
									| 59
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong Unlimited
									|  Website
								li
									strong Unlimited
									|  Disk Space
								li
									strong 25
									|  Database
								li
									strong 500
									|  Email Address
								li.sign-up
									a.btn.btn-coffee(href="#") Sign Up

						.span3
							.plan.btn-cornsilk
								h3 Ultimate
								p
									span.dollar-sign $ 
									| 99
									span.per-month  /mo
							ul.plan-features
								li
									strong 24/7
									|  Support
								li
									strong Unlimited
									|  Bandwidth
								li
									strong Unlimited
									|  Website
								li
									strong Unlimited
									|  Disk Space
								li
									strong Unlimited
									|  Database
								li
									strong Unlimited
									|  Email Address
								li.sign-up
									a.btn(href="#") Sign Up



		include partials/footer
