<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">

    <!-- For Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- General Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Overlock|Niconne' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Script  -->  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script> <!-- load jQuery in head since respond.js needs jQuery -->
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script> 
    <![endif]-->

    <!-- favicon -->
    <link rel="icon" href="img/favicon.ico">
    <style>
    .row-fluid {
        text-align: center;
    }

    .row-fluid .span5 {
        padding-top: 20px;
        text-align: center;
    }

    </style>

</head>
<body>

    <!-- =Page Title -->
    <div class="page-title">
        <div class="shadow">
            <div class="container">
                <h1>Sense - A Responsive HTML5 Template</h1>
                <p>Cross browser support: IE8+, Chrome, Firefox, Safari, Opera, all major browsers.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row-fluid">
            <div class="span5">
                <h3>Multiple Pages Version</h3>
                <p>6 color schemes: purple, blue, green, orange, rose, and turquoise.</p>
                <a href="index.html">
                    <img src="assets/view-multipages.png" alt="Multiple Pages Version">
                </a>
            </div>
            <div class="span2"></div>
            <div class="span5">
                <h3>One Page Version</h3>
                <p>6 color schemes: purple, blue, green, orange, rose, and turquoise.</p>
                <a href="../onepage/index.html">
                    <img src="assets/view-onepage.png" alt="One Page Version">
                </a>
            </div>
        </div>
    </div>



    <!-- All the scripts, with jQuery at <head> -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-migrate-1.2.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
