<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">

    <!-- For Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/style.css">

    <!-- modernizr -->
    <script src="js/modernizr-2.6.2.min.js"></script>

    <!-- favicon -->
    <link rel="icon" href="images/favicon.ico">

</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->


    <!-- =Header -->
    <header id="home">
        <div class="navbar navbar-fixed-top"><!-- navbar-fixed-top -->
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>

              <!-- Brand -->
              <a class="brand" href="#">AppSense</a>

              <!-- Nav -->
              <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav pull-right">
                    <!-- <li><a href="#"></a></li> -->
                    <li><a href="#home"><i class="icon-home"></i> Home</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#features"><i class="icon-magic"></i> Features</a></li>
                    <li><a href="#show"><i class="icon-picture"></i> Show</a></li> 
                    <li><a href="#details"><i class="icon-search"></i> Details</a></li> 
                    <li><a href="#testimonials"><i class="icon-thumbs-up"></i> Testimonials</a></li>
                    <li><a href="#partners"><i class="icon-user"></i> Partners</a></li>
                    <li><a href="#contact"><i class="icon-envelope"></i> Contact</a></li>
                    
                </ul>
              </div><!-- /.nav-collapse -->
            </div>
          </div><!-- /navbar-inner -->
        </div>
    </header>


    <!-- =Intro -->
    <div class="intro">
        <div class="intro-text">
            <h1>Ipsum dolor sit amet.</h1>
            <p>Modi optio odio dolorem velit repellat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur explicabo adipisicing elit.</p>

            <p>Lorem ipsum dolor sit amet, tium ipsam distinctio quidem dicta explicabo iste!</p>
            <br>
            <div class="download-wrapper">
                <a href="http://www.apple.com/" class="download ios"></a>
                <a href="https://play.google.com/" class="download android"></a>
            </div>
        </div>
    </div>


    <!-- =Features -->
    <div id="features" class="container main-section">
        <h1>Features</h1>
        <div id="items-filters" class="clearfix">
            <ul>
              <li data-filter="*" class="active">Show All</li>
              <li data-filter=".girl">Girl</li>
              <li data-filter=".beautiful">Beautiful</li>
              <li data-filter=".lovely">Lovely</li>
            </ul>            
        </div>

        <div id="items-container">
            <div class="lovely girl">
                <a href="images\shots\shot-07.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-07.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
            <div class="beautiful girl">
                <a href="images\shots\shot-02.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-02.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
            <div class="beautiful girl">
                <a href="images\shots\shot-03.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-03.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
            <div class="lovely">
                <a href="images\shots\shot-05.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-05.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
            <div class="lovely girl">
                <a href="images\shots\shot-08.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-08.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
            <div class="beautiful girl">
                <a href="images\shots\shot-01.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-01.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
            <div class="beautiful">
                <a href="images\shots\shot-10.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-10.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
            <div class="beautiful girl">
                <a href="images\shots\shot-04.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-04.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
            <div class="lovely">
                <a href="images\shots\shot-06.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-06.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
            <div class="beautiful">
                <a href="images\shots\shot-09.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-09.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
            <div class="beautiful">
                <a href="images\shots\shot-11.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-11.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
            <div class="beautiful">
                <a href="images\shots\shot-12.jpg" title="What a beautiful photo">
                    <img src="images\shots\shot-12.jpg" alt="A beautiful photo">
                </a>
                <p>A Beautiful Picture</p>
            </div>
        </div>
    </div>


    <!-- =Show -->
    <div id="show" class="show container main-section">
        <h1>Show</h1>
        <div class="flexslider-show flexslider">
          <ul class="slides">
            <li>
                <img src="images\shots\shot-01.jpg" alt="shots">
            </li>
            <li>
                <img src="images\shots\shot-02.jpg" alt="shots">
            <li>
                <img src="images\shots\shot-03.jpg" alt="shots">
            </li>
          </ul>
        </div>
    </div>


    <!-- =Details -->
    <div id="details" class="details container main-section">
        <h1>Details</h1>
        <div class="divider"></div>        
        <section class="feature-details feature-even">
            <div class="feature-content clearfix">
                <h2>Wonderful Music</h2>
                <div class="feature-image">
                    <img src="images/F1.png" alt="feature-image">
                </div>
                <p>Culpa commodi unde necessitatibus exercitationem repellendus quasi esse aliquid voluptas voluptatum expedita nam fugiat obcaecati. Expedita dolores sunt dolorum necessitatibus nostrum temporibus cumque blanditiis voluptates aliquam quisquam doloremque suscipit aut alias similique reiciendis sint dicta placeat a consequuntur deserunt animi.</p>
                <p>Ex omnis reprehenderit harum eos dignissimos! Ducimus sit sunt aliquid quis fugiat accusantium commodi! Culpa commodi unde necessitatibus exercitationem repellendus quasi esse aliquid voluptas voluptatum expedita nam fugiat obcaecati. Expedita dolores sunt dolorum necessitatibus nostrum temporibus cumque blanditiis voluptates aliquam quisquam doloremque suscipit aut alias similique reiciendis sint dicta placeat a consequuntur deserunt animi.</p>
            </div>
        </section>
        <div class="divider"></div>        

        <section class="feature-details feature-odd">
            <div class="feature-content clearfix">
                <h2>Beautiful Background</h2>
                <div class="feature-image">
                    <img src="images/F2.png" alt="feature-image">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus sit rerum reiciendis commodi animi beatae laboriosam cumque pariatur sunt itaque fugit quia nihil necessitatibus saepe architecto facilis in officiis corrupti id error enim fugiat aliquam perferendis tempora vitae nesciunt quasi expedita nulla earum aperiam dolorum repellat ex omnis reprehenderit harum eos dignissimos! Ducimus sit sunt aliquid quis fugiat accusantium commodi!</p>
                <p>Culpa commodi unde necessitatibus exercitationem repellendus quasi esse aliquid voluptas voluptatum expedita nam fugiat obcaecati. Expedita dolores sunt dolorum necessitatibus nostrum temporibus cumque blanditiis voluptates aliquam quisquam doloremque suscipit aut alias similique reiciendis sint dicta placeat a consequuntur deserunt animi.</p>
            </div>
        </section>
        <div class="divider"></div>        

        <section class="feature-details feature-even">
            <div class="feature-content clearfix">
                <h2>Share with Your Friends</h2>
                <div class="feature-image">
                    <img src="images/F3.png" alt="feature-image">
                </div>
                <p>Aperiam facere fuga dolorem in aliquid accusantium expedita incidunt repellendus nam quaerat recusandae quam inventore adipisci eius ut. Culpa asperiores aspernatur maxime quam perferendis eligendi ad alias voluptatum voluptates sit ducimus quisquam unde recusandae excepturi dolorem atque.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p>Deserunt beatae possimus atque autem accusantium expedita dolorum consequatur architecto. Eos exercitationem corrupti saepe quo in nam quod eligendi doloribus officia quas minima fugiat. Accusantium iste dolorem nihil non porro magnam totam aspernatur officiis dicta recusandae culpa obcaecati. Debitis quaerat quas culpa veritatis.</p>
            </div>
        </section>
        <div class="divider"></div>        
    </div>


    <!-- =Testimonials -->
    <div id="testimonials" class="testimonials container main-section">
        <h1>What Other People are saying?</h1>
        <section class="slider">
        <div class="flexslider-testimonials flexslider carousel">
          <ul class="slides">
            <li>
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni adipisci pariatur dignissimos ipsam non beatae odit eum placeat eligendi temporibus nemo quod consequatur neque eveniet!</blockquote>
                <div class="clearfix"></div>
                <img src="images/testimonials-1.jpg" alt="">
                <span class="info">
                    <strong>Ipsam Non</strong>
                    <br>
                    <span>Founder of Eveniet</span>
                </span>
            </li>
            <li>
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni adipisci pariatur dignissimos ipsam non beatae odit eum placeat eligendi temporibus nemo quod consequatur neque eveniet!</blockquote>
                <div class="clearfix"></div>
                <img src="images/testimonials-5.jpg" alt="">
                <span class="info">
                    <strong>Ipsam Non</strong>
                    <br>
                    <span>Founder of Eveniet</span>
                </span>
            </li>
            <li>
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni adipisci pariatur dignissimos ipsam non beatae odit eum placeat eligendi temporibus nemo quod consequatur neque eveniet!</blockquote>
                <div class="clearfix"></div>
                <img src="images/testimonials-3.jpg" alt="">
                <span class="info">
                    <strong>Ipsam Non</strong>
                    <br>
                    <span>Founder of Eveniet</span>
                </span>
            </li>
            <li>
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni adipisci pariatur dignissimos ipsam non beatae odit eum placeat eligendi temporibus nemo quod consequatur neque eveniet!</blockquote>
                <div class="clearfix"></div>
                <img src="images/testimonials-4.jpg" alt="">
                <span class="info">
                    <strong>Ipsam Non</strong>
                    <br>
                    <span>Founder of Eveniet</span>
                </span>
            </li>
            <li>
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni adipisci pariatur dignissimos ipsam non beatae odit eum placeat eligendi temporibus nemo quod consequatur neque eveniet!</blockquote>
                <div class="clearfix"></div>
                <img src="images/testimonials-1.jpg" alt="">
                <span class="info">
                    <strong>Ipsam Non</strong>
                    <br>
                    <span>Founder of Eveniet</span>
                </span>
            </li>
            <li>
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni adipisci pariatur dignissimos ipsam non beatae odit eum placeat eligendi temporibus nemo quod consequatur neque eveniet!</blockquote>
                <div class="clearfix"></div>
                <img src="images/testimonials-2.jpg" alt="">
                <span class="info">
                    <strong>Ipsam Non</strong>
                    <br>
                    <span>Founder of Eveniet</span>
                </span>
            </li>
            <li>
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni adipisci pariatur dignissimos ipsam non beatae odit eum placeat eligendi temporibus nemo quod consequatur neque eveniet!</blockquote>
                <div class="clearfix"></div>
                <img src="images/testimonials-3.jpg" alt="">
                <span class="info">
                    <strong>Ipsam Non</strong>
                    <br>
                    <span>Founder of Eveniet</span>
                </span>
            </li>
            <li>
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni adipisci pariatur dignissimos ipsam non beatae odit eum placeat eligendi temporibus nemo quod consequatur neque eveniet!</blockquote>
                <div class="clearfix"></div>
                <img src="images/testimonials-4.jpg" alt="">
                <span class="info">
                    <strong>Ipsam Non</strong>
                    <br>
                    <span>Founder of Eveniet</span>
                </span>
            </li>
            <li>
                <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni adipisci pariatur dignissimos ipsam non beatae odit eum placeat eligendi temporibus nemo quod consequatur neque eveniet!</blockquote>
                <div class="clearfix"></div>
                <img src="images/testimonials-5.jpg" alt="">
                <span class="info">
                    <strong>Ipsam Non</strong>
                    <br>
                    <span>Founder of Eveniet</span>
                </span>
            </li>

          </ul>
        </div>
        </section>        
    </div>


    <!-- =Partners -->
    <div id="partners" class="container main-section">
        <h1>Partners</h1>
        <section class="slider">
        <div class="flexslider-partners flexslider carousel">
          <ul class="slides">
            <li>
                <img src="images\Partners\partner_01.png" alt="">
            </li>
            <li>
                <img src="images\Partners\partner_02.png" alt="">
            </li>
            <li>
                <img src="images\Partners\partner_03.png" alt="">
            </li>
            <li>
                <img src="images\Partners\partner_04.png" alt="">
            </li>
            <li>
                <img src="images\Partners\partner_05.png" alt="">
            </li>
            <li>
                <img src="images\Partners\partner_06.png" alt="">
            </li>
            <li>
                <img src="images\Partners\partner_07.png" alt="">
            </li>
            <li>
                <img src="images\Partners\partner_08.png" alt="">
            </li>
          </ul>
        </div>
        </section>          
    </div>


    <!-- =Contact -->
    <div id="contact" class="contact container main-section">
        <h1>Contact Us</h1>
        <div class="row-fluid">
             <div class="span6">
                <div class="contact-info">
                    <h3>Contact Details</h3>
                    <p><i class="icon-phone"></i> +123 456 789</p>
                    <p><i class="icon-envelope"></i> Contact@yourmail.com</p>
                    <p><i class="icon-home"></i> Street 123, Avenue 45, Country</p>
                    <h3>Follow Us</h3>
                    <div class="social">
                        <a href="">
                           <i class="icon-facebook icon-2x"></i>
                        </a>
                        <a href="">
                            <i class="icon-twitter icon-2x"></i>
                        </a>
                        <a href="">
                            <i class="icon-linkedin icon-2x"></i>
                        </a>
                        <a href="">
                            <i class="icon-pinterest icon-2x"></i>
                        </a>
                        <a href="">
                            <i class="icon-google-plus icon-2x"></i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="span6">
                <form action="php/process.php" method="post" >
                    <label for="form-name">Name</label>
                    <input type="text" name="name" id="form-name" placeholder="Input your name*"  required="required">
                    <label for="form-mail">Mail</label>
                    <input type="email" name="email" id="form-mail" placeholder="Input your email*"  required="required">
                    <label for="form-message">Message</label>
                    <textarea name="message" id="form-message" rows="5" placeholder="Input your message*"></textarea>
                    <p><input class="btn" type="submit" value="Submit"></p>
                </form>
            </div>           
        </div>
    </div>


    <!-- =Footer -->
    <footer id="Copyright" class="container">
        <p>Copyright 2013</p>
    </footer>


     <!-- Script --> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/jquery.smooth-scroll.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
