<!DOCTYPE html><!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"></html><![endif]--><!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"></html><![endif]--><!--[if IE 8]>
<html class="no-js lt-ie9"></html><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8"><!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link href="css/ie8-grid-foundation-4.css" rel="stylesheet"><![endif]-->
    <!-- ==========  stylesheets  ==========-->
    <link href="css/foundation.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="js/vendor/camera/css/camera.css">
    <link rel="stylesheet" href="js/vendor/countdown/jquery.countdown.css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet">
    <!-- script-->
    <script src="js/vendor/custom.modernizr.js"></script>
  </head>
  <body>
    <!-- Header-->
    <Header class="header">
      <div class="inner">
        <!-- Navbar-->
        <div class="row">
          <div class="large-4 columns">
            <div class="logo">
              <h2>COMING<span class="colored">SOON</span></h2>
            </div>
          </div>
          <div class="large-6 large-offset-2 columns">
            <ul id="nav" class="inline-list">
              <li><a href="#services">Services</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- color schemes-->
      <ul class="colors inline-list">
        <li data-color="purple"></li>
        <li data-color="green"></li>
        <li data-color="turquoise"></li>
        <li data-color="forest-green"></li>
        <li data-color="blue"></li>
        <li data-color="baby-blue"></li>
        <li data-color="navy-blue"></li>
        <li data-color="rose"></li>
        <li data-color="red"></li>
        <li data-color="maroon"></li>
        <li data-color="yellow"></li>
        <li data-color="olive"></li>
        <li data-color="coffee"></li>
        <li data-color="pink"></li>
        <li data-color="orange"></li>
        <li data-color="grey"></li>
      </ul>
    </Header>
    <!-- Main Content-->
    <!-- banner-->
    <section class="banner clearfix">
      <div class="fluid_container">
        <div id="camera_bg" class="camera_wrap camera_emboss">
          <div data-src="assets/slides/01.jpg"></div>
          <div data-src="assets/slides/02.jpg"></div>
        </div>
      </div>
      <div class="welcome">
        <div class="row">
          <section class="large-5 columns coming">
            <h2>COMING SOON</h2>
            <p>The site is almost done. Stay tuned!</p>
          </section>
          <section class="large-6 large-offset-1 columns subscribe">
            <h2>Notify Me</h2>
            <form action="#" method="post" class="subscribe-form">
              <input type="email" placeholder="Enter your email here" required="required">
              <button type="submit">Subscribe</button>
            </form>
          </section>
        </div>
      </div>
    </section>
    <!-- count down-->
    <section class="count-container colored">
      <div class="row">
        <div class="countdown clearfix"></div>
      </div>
    </section>
    <!-- services-->
    <section id="services" class="services">
      <h2 class="text-center">Services</h2>
      <div class="row">
        <div class="large-6 columns"><i class="icon-magic large"></i>
          <div class="content">
            <h3>Ullamco Laboris</h3>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.				</p>
          </div>
        </div>
        <div class="large-6 columns"><i class="icon-beaker large"></i>
          <div class="content">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns"><i class="icon-cogs large"></i>
          <div class="content">
            <h3>Ut Enim</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
          </div>
        </div>
        <div class="large-6 columns"><i class="icon-rocket large"></i>
          <div class="content">
            <h3>Asint Occaecat</h3>
            <p>Asint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns"><i class="icon-dashboard large"></i>
          <div class="content">
            <h3>Minim Veniam</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
          </div>
        </div>
        <div class="large-6 columns"><i class="icon-group large"></i>
          <div class="content">
            <h3>Non Proident</h3>
            <p>Asint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- about-->
    <section id="about" class="about colored">
      <div class="row">
        <div class="large-12 columns">
          <h2 class="text-center">About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </section>
    <!-- contact-->
    <section id="contact" class="contact">
      <!-- gmap-->
      <h2 class="text-center">Contact</h2>
      <div class="contact-info text-center">
        <p><i class="icon icon-phone"> </i>+123 456 789 </p>
        <p><i class="icon icon-envelope"> </i>mail@yourmail.com</p>
        <p><i class="icon icon-map-marker"> </i>Street 123, Avenue 45, Country</p>
        <p><i class="icon icon-globe"> </i>www.yoursite.com</p>
      </div>
      <div id="gmap"></div>
    </section>
    <!-- Footer-->
    <footer class="footer text-center">
      <p class="copyright">Copyright 2013 COMING SOON</p>
      <ul class="inline-list text-center">
        <li><a href="#"><i class="icon-twitter"></i></a></li>
        <li><a href="#"><i class="icon-dribbble"></i></a></li>
        <li><a href="#"><i class="icon-flickr"></i></a></li>
        <li><a href="#"><i class="icon-github"></i></a></li>
        <li><a href="#"><i class="icon-skype"></i></a></li>
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li><a href="#"><i class="icon-google-plus"></i></a></li>
        <li><a href="#"><i class="icon-linkedin"></i></a></li>
      </ul>
    </footer>
    <!-- ==========  Scripts  ==========-->
    <script>
      window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')
      //- document.write('<script src=' + ('__proto__' in {} ? 'js/vendor/zepto.min' : 'js/vendor/jquery.min') + '.js><\/script>')
    </script>
    <script src="js/vendor/jquery-migrate-1.2.1.min.js"></script>
    <!-- camera slider-->
    <script src="js/vendor/camera/scripts/jquery.easing.1.3.js"> </script>
    <script src="js/vendor/camera/scripts/camera.min.js"> </script>
    <!-- google map-->
    <script src="http://maps.google.com/maps/api/js?sensor=false&amp;libraries=geometry&amp;v=3.7"></script>
    <script src="js/maplace.min.js">			</script>
    <!-- validate-->
    <script src="js/jquery.validate.js"></script>
    <!-- smooth scroll-->
    <script src="js/jquery.smooth-scroll.js"></script>
    <!-- count down-->
    <script src="js/vendor/countdown/jquery.countdown.js"></script>
    <!-- custom script-->
    <script src="js/main.js"></script>
  </body>
</html>