!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head


	body
		include partials/header
		.main-content
			.container
				h3 Blockquote
				h5 Left
				blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, ducimus, provident, accusantium quasi sapiente ad eaque delectus dolores hic praesentium inventore pariatur ipsa neque excepturi enim aliquid rerum dolore nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, esse, fuga tempora aliquid impedit debitis odio illum laboriosam dolores sed earum et iste iure atque quam illo a repudiandae in.
				h5 Right
				blockquote.pull-right Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, ducimus, provident, accusantium quasi sapiente ad eaque delectus dolores hic praesentium inventore pariatur ipsa neque excepturi enim aliquid rerum dolore nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, esse, fuga tempora aliquid impedit debitis odio illum laboriosam dolores sed earum et iste iure atque quam illo a repudiandae in.

				h3 Dropcap
				h5 Normal
				p
					span.dropcap L
					| orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
				h5 Square
				p
					span.dropcap-square D
					| orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
				h5 Circle
				p
					span.dropcap-circle E
					| orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
				h5 Normal Colored
				p
					span.dropcap.colored L
					| orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
				h5 Square
				p
					span.dropcap-square.colored D
					| orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
				h5 Circle
				p
					span.dropcap-circle.colored E
					| orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste itaque voluptas corrupti ratione reprehenderit magni similique? Tempore, quos delectus asperiores libero voluptas quod perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
				.divider
					
				h3 Hightlights
				p
					| Opsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, quam, soluta, quia mollitia sequi voluptas magnam perspiciatis deleniti 
					span.highlight ratione
					|  ad molestias eum minima sed libero enim laborum sunt vel porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, voluptas, placeat provident impedit
					strong  maiores
					|  odio doloribus corrupti exercitationem veritatis ipsum ipsam adipisci quis consequatur assumenda rerum corporis possimus ad architecto
				.divider 

				h1.text-center List Style
				h3 Check
				.row-fluid
					.span2
						ul.ul-check-dark
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5
					.span2
						ul.ul-check-autumn
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5
					.span2
						ul.ul-check-pink
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5
					.span2
						ul.ul-check-purple
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5						
					.span2
						ul.ul-check-cherry
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5						
					.span2
						ul.ul-check-coffee
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5	
				.row-fluid
					.span2					
						ul.ul-check-cool-blue
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5						
					.span2					
						ul.ul-check-fire
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5						
					.span2					
						ul.ul-check-forest-green
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5						
					.span2					
						ul.ul-check-golden
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5						
					.span2					
						ul.ul-check-lime-green
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5						
					.span2					
						ul.ul-check-periwinkle
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5	
				.row-fluid
					.span2					
						ul.ul-check-royal-blue
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5
					.span2					
						ul.ul-check-sky-blue
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5
					.span2					
						ul.ul-check-violet
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5						

				h3 Bullet
				.row-fluid
					.span2
						ul.ul-brown
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5
					.span2
						ul.ul-green
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5
					.span2
						ul.ul-orange
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5
					.span2
						ul.ul-sandal
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5
					.span2
						ul
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5
					.span2
						ol
							li list text 1
							li list text 2
							li list text 3
							li list text 4
							li list text 5

		include partials/footer
