!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head


	body
		include partials/header

		.main-content
			.container

				.flexslider-carousel.carousel-container.flexslider
					ul.slides
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-01.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-02.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-03.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-04.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-05.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-06.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.


				.flexslider-carousel.carousel-container.flexslider
					ul.slides
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-04.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-03.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-02.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-01.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-05.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-06.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						li
							.item-portfolio
								a(href="portfolio-detail.html")
									img(src="assets/portfolio/280_210-07.jpg", alt="")
								.item-content
									h2.item-title 
										a(href="#") The Title
									p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						


		include partials/footer