!!! 5
html
	head
		meta(charset='utf-8')
		//- fix W3C validate issue
		// if IE
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		// if lt IE 9
			<html class="no-js lt-ie9">
			link(rel='stylesheet', href='css/lt-ie9.css')
			script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

		// stylesheets
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/bootstrap-responsive.min.css')
		//- link(rel='stylesheet', href='css/font-awesome.min.css')
		style
			.container {
				text-align: center;
			}
			.header {
				background: url('img/bg/bg31.jpg') repeat;
				border-bottom: 1px solid #bdbdbc;
				outline: 1px solid #fff;
			}
			.shadow {
				background: url('img/shadow-top.png') top center no-repeat;
			}
			body {
				background: url('img/bg/bg.jpg') repeat;
			}
			h1, h2, h3 {
				font-weight: normal;
			}

	body

		//- Header
		header.header
			.shadow
				.container
					h2 Light - A Responsive Multi-Purpose HTML Template
					p 7 portfolio layout, 6 blog layout, and much more. 


		//- Contents
		.container
			br
			.row-fluid
				.span5
					h3 Multiple Pages Version
					p 10+ color schemes to choose from.
					a(href="../multipages/index.html")
						//- 554px width
						img(src="assets/multipages.png", alt="Multiple Pages Version")
				.span2
				.span5
					h3 One Page Version
					p 10+ color schemes to choose from.
					a(href="../onepage/index.html")
						img(src="assets/onepage.png", alt="One Page Version")
















