// loading picture
img#loading(src="img/loading.gif", alt="loading")

// Header
header
	// Logo
	.logo
		a(href="index.html")
			img(src="assets/logo.png", alt="Logo")

	// Nav
	.flexnav-container
		.container
			.menu-button Menu 
			nav
				ul.flexnav( data-breakpoint='800')
					li
						a(href="index.html") Home
						ul
							li
								a(href="slider-flexslider.html") FlexSlider
							li
								a(href="slider-camera.html") Camera Slider
							li
								a(href="slider-revolution.html") Revolution(Premium Slider)


					li
						a(href="#") Portfolio
						ul
							li
								a(href="portfolio-seamless2.html") Seamless Portfolio 2 (with filters)
							li
								a(href="portfolio-seamless.html") Seamless Portfolio (with filters)
							li
								a(href="portfolio-grid.html") Grid Portfolio (with filters)
							li
								a(href="portfolio-1column.html") 1 Columns Portfolio
							li
								a(href="portfolio-3columns.html") 3 Columns Portfolio
							li
								a(href="portfolio-4columns.html") 4 Columns Portfolio
							li
								a(href="portfolio-lightbox.html") Lightbox Available
							li
								a(href="portfolio-carousel.html") Carousel Portfolio
							li
								a(href="portfolio-detail2.html") Portfolio Detail 2
							li
								a(href="portfolio-detail.html") Portfolio Detail

					li
						a(href="#") Blog
						ul
							li
								a(href="blog-waterfall.html") Waterfall Blog (With Filters)
							li
								a(href="blog-grid.html") Grid Blog (With Filters)
							li
								a(href="blog-sidebar.html") Blog with Right Sidebar
							li
								a(href="blog-leftSidebar.html") Blog with Left Sidebar
							li
								a(href="blog-fullWidth.html") Full Width Blog
							li
								a(href="blog-thumbnail.html") Thumbnail Image Blog
							li
								a(href="blog-postformats.html") 12 Post Formats
							li
								a(href="blog-single.html") Single Post

					li
						a(href="#") Features
						ul
							li
								a(href="feature-elements.html") Elements
								ul
									li
										a(href="feature-elements.html#table") Table
									li
										a(href="feature-elements.html#pagination") Pagination
									li
										a(href="feature-elements.html#testimonials") Testimonials
									li
										a(href="feature-elements.html#buttons") Buttons
									li
										a(href="feature-elements.html#process-bar") Process Bar
									li
										a(href="feature-elements.html#tooltips") Tooltips
									li
										a(href="feature-elements.html#accordion") Accordion
									li
										a(href="feature-elements.html#tab") Tab
									li
										a(href="feature-elements.html#alert") Alerts or Message
							li
								a(href="feature-typography.html") Typography
							li
								a(href="feature-columns.html") Columns
							li
								a(href="feature-pricing.html") Pricing Tables
							li
								a(href="page-services.html") Services Page
							li
								a(href="page-about.html") About Page
							li
								a(href="page-faq.html") FAQ Page
							li
								a(href="page-404.html") 404 Page
							li
								a(href="feature-icons.html") Icons

							li
								a(href="") Sub 1
								ul
									li
										a(href="") Sub 2

					li
						a(href="page-contact.html") Contact

// Main contents