!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head


	body
		include partials/header
		.main-content
			.container
				section.about
					.page-header
						h1.text-center About
					.row-fluid
						.span6
							img.alignleft(src="assets/logo-big.png", alt="logo")
							p
								strong Light
								|  rerum hic incidunt odio iste voluptatem quo qui necessitatibus voluptatum dolore harum eaque quibusdam animi commodi explicabo dignissimos nulla sunt vero cumque.
							p Explicabo dignissimos nulla sunt vero cumque.
							p.muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
							p.text-warning Etiam porta sem malesuada magna mollis euismod.
							p.text-error Donec ullamcorper nulla non metus auctor fringilla.
							p Rum hic incidunt odio iste voluptatem quo qui necessitatibus voluptatum dolore harum eaque quibusdam animi commodi explicabo dignissimos nulla sunt vero cumque.
						.span6
							blockquote
								p Commodi explicabo dignissimos nulla sunt vero, necessitatibus voluptatum dolore harum eaque quibusdam animi.
								small Nesciunt Enim
							ul
								li Esse vero ullam cupiditate eaque.
								li Ullam cupiditate eaque.
									ul
										li Adipisci molestias consectetur voluptatem
										li Opisci molestias consectetur voluptatem
								li Animi odit quod pariatur adipisci. molestias consectetur voluptatem
							p.text-info Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.
							p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.

					.row-fluid
						.span6
							.member.clearfix
								.photo
									figure
										img(src="assets/team/215_180-01.jpg", alt="member")
									ul.social
										li 
											a(href="#")
												i.icon-google-plus
										li 
											a(href="#")
												i.icon-facebook
										li 
											a(href="#")
												i.icon-twitter
										li 
											a(href="#")
												i.icon-linkedin
										li 
											a(href="#")
												i.icon-github
										li 
											a(href="#")
												i.icon-pinterest
								.desc
									h5 Team member
										span CEO/Founder
									p Lorem ipsum dolor sit aed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.span6
							.member.clearfix
								.photo
									figure
										img(src="assets/team/215_180-02.jpg", alt="member")
									ul.social
										li 
											a(href="#")
												i.icon-google-plus
										li 
											a(href="#")
												i.icon-facebook
										li 
											a(href="#")
												i.icon-twitter
										li 
											a(href="#")
												i.icon-linkedin
										li 
											a(href="#")
												i.icon-github
										li 
											a(href="#")
												i.icon-pinterest
								//- .clearfix
								.desc
									h5 Team member
										span Developer
									p Lorem ipsum dolor sit aed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

					.row-fluid
						.span6
							.member.clearfix
								.photo
									figure
										img(src="assets/team/215_180-03.jpg", alt="member")
									ul.social
										li 
											a(href="#")
												i.icon-google-plus
										li 
											a(href="#")
												i.icon-facebook
										li 
											a(href="#")
												i.icon-twitter
										li 
											a(href="#")
												i.icon-linkedin
										li 
											a(href="#")
												i.icon-github
										li 
											a(href="#")
												i.icon-pinterest
								.desc
									h5 Team member
										span Developer
									p Lorem ipsum dolor sit aed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.span6
							.member.clearfix
								.photo
									figure
										img(src="assets/team/215_180-04.jpg", alt="member")
									ul.social
										li 
											a(href="#")
												i.icon-google-plus
										li 
											a(href="#")
												i.icon-facebook
										li 
											a(href="#")
												i.icon-twitter
										li 
											a(href="#")
												i.icon-linkedin
										li 
											a(href="#")
												i.icon-github
										li 
											a(href="#")
												i.icon-pinterest
								//- .clearfix
								.desc
									h5 Team member
										span Developer
									p Lorem ipsum dolor sit aed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

					.row-fluid
						.span6
							.member.clearfix
								.photo
									figure
										img(src="assets/team/215_180-05.jpg", alt="member")
									ul.social
										li 
											a(href="#")
												i.icon-google-plus
										li 
											a(href="#")
												i.icon-facebook
										li 
											a(href="#")
												i.icon-twitter
										li 
											a(href="#")
												i.icon-linkedin
										li 
											a(href="#")
												i.icon-github
										li 
											a(href="#")
												i.icon-pinterest
								.desc
									h5 Team member
										span Developer
									p Lorem ipsum dolor sit aed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.span6
							.member.clearfix
								.photo
									figure
										img(src="assets/team/215_180-06.jpg", alt="member")
									ul.social
										li 
											a(href="#")
												i.icon-google-plus
										li 
											a(href="#")
												i.icon-facebook
										li 
											a(href="#")
												i.icon-twitter
										li 
											a(href="#")
												i.icon-linkedin
										li 
											a(href="#")
												i.icon-github
										li 
											a(href="#")
												i.icon-pinterest
								//- .clearfix
								.desc
									h5 Team member
										span Developer
									p Lorem ipsum dolor sit aed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.


		include partials/footer
		