!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head


	body
		include partials/header

		.main-content
			.container.portfolio-normal
				.row-fluid
					.span7
						a(href="portfolio-detail.html")
							img(src="assets/portfolio/550_270-02.jpg", alt="")
					.span5
						h2.portfolio-title Brief Desription
						ul.portfolio-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pushpin 
									a(href="#") Category
						p
							span.dropcap.colored L
							| orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste assumenda magni quae architecto fugiat libero.
							| Perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
						p
							button.btn.btn-small Preview
							|  &nbsp;&nbsp;&nbsp;
							button.btn.btn-small Details
				.divider

				.row-fluid
					.span7
						a(href="portfolio-detail.html")
							img(src="assets/portfolio/550_270-01.jpg", alt="")
					.span5
						h2.portfolio-title Brief Desription
						ul.portfolio-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pushpin 
									a(href="#") Category
						p
							span.dropcap.colored L
							| orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste assumenda magni quae architecto fugiat libero.
							| Perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
						p
							button.btn.btn-small Preview
							|  &nbsp;&nbsp;&nbsp;
							button.btn.btn-small Details
				.divider
				
				.row-fluid
					.span7
						a(href="portfolio-detail.html")
							img(src="assets/portfolio/550_270-03.jpg", alt="")
					.span5
						h2.portfolio-title Brief Desription
						ul.portfolio-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pushpin 
									a(href="#") Category
						p
							span.dropcap.colored L
							| orem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, illo, iste assumenda magni quae architecto fugiat libero.
							| Perferendis! Voluptate, quod illo rerum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, ipsa, in, laboriosam, dignissimos nobis quaerat vitae a facere esse neque laudantium nisi atque quos assumenda magni quae architecto fugiat libero.
						p
							button.btn.btn-small Preview
							|  &nbsp;&nbsp;&nbsp;
							button.btn.btn-small Details
				.divider
				



		include partials/footer
		