!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head

	body

		include partials/header
		
		.main-content
			.items-container.flexitems-4col.container

				.item-portfolio.item-food
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-20.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-13.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-17.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-food
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-19.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-16.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-food
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-18.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-15.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-06.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-11.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here
				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-05.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-10.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here


				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-03.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-09.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-08.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-07.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-12.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-04.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-02.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-14.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/280_210-01.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

		include partials/footer
