!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head


	body
		include partials/header

		.main-content
			.blog.blog-thumbnail
				.container

					.post.thumbnail-post
						.post-thumb
							a(href="blog-single.html")
								img(src="assets/blog/280_210-01.jpg", alt="")
						.post-content
							h2.post-title 
								a(href="blog-single.html") Standard Post
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
							.post-content
								.post-excerpt
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									a(href="blog-single.html") Read More

					.post
						.post-content
							h2.post-title 
								a(href="blog-single.html") Image Post
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
						.post-image
							a(href="blog-single.html")
								img(src="assets/blog/950_380_01.jpg", alt="")
							.image-shadow
						.post-content
							.post-excerpt
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								a(href="blog-single.html") Read More

					.post
						.post-content
							h2.post-title 
								a(href="blog-single.html") Gallery Post
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
						.flexslider.flexslider-normal
							ul.slides
								li
									img(src="assets/blog/950_380_01.jpg", alt="")
								li
									img(src="assets/blog/950_380_02.jpg", alt="")
								li
									img(src="assets/blog/950_380_03.jpg", alt="")
						.post-content
							.post-excerpt
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								a(href="blog-single.html") Read More

					.post
						.post-content
							h2.post-title 
								a(href="blog-single.html") Text Post
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
						.post-content
							.post-excerpt
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								a(href="blog-single.html") Read More

					.post
						.responsive-video
							iframe.responisve(width="960"
								height="540"
								src="http://www.youtube.com/embed/6I3kgbBp6PY")
						.post-content
							h2.post-title 
								a(href="blog-single.html") Video Post
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments	
							.post-excerpt
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								a(href="blog-single.html") Read More

					.post.thumbnail-post
						.post-thumb
							a(href="blog-single.html")
								img(src="assets/blog/280_210-03.jpg", alt="")
						.post-content
							audio(src="mp3/test.mp3", preload="none")
							h2.post-title 
								a(href="blog-single.html") Audio Post
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
							.post-content
								.post-excerpt
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									a(href="blog-single.html") Read More

					.post
						.post-content
							.post-thumbnail
								.quote
									span Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								.author
									span - Fet Dolore
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
						.post-content
							.post-excerpt
								p 
									|  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
									span.highlight Blockquote Post.
									|  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								a(href="blog-single.html") Read More

					.post
						.tweet
							.author
								a(href="#")
									img.avatar(src="assets/gravatar/avatar.png", alt="")
									span
										strong Author
										|  @author
							p Consectetur adipisicing elit, sed do sed do eiusmod tempor incididunt ut labore eiusmod tempor sunt in culpa qui officia deserunt mollit anim id est laborum incididunt ut labore et 
								a(href="#") #TWEET
								|  magna aliqua. Ut enim ad magna aliqua. 
								span.highlight Tweet Post
								|  Ut enim ad minim veniam. 

					.post.chat-post
						h2.post-title 
							a(href="blog-single.html") Chat Post
						p 
							strong John:
							|  Consectetur adipisicing? 
						P 
							strong Jane:
							|  Sed do sed do eiusmod tempor incididunt ut lab.
						p
							strong John:
							|  Elitore eiusmod tempor sunt in culpa qui officia.
						p 
							strong Jane:
							|  Deserunt mollit?
						p 
							strong John:
							|  Anim id est laborum incididunt ut labore et.
						p 
							strong Jane:
							|  OK.

					.post
						.post-content
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
							.post-content
								.post-excerpt
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
										span.highlight Aside post.
										|  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										span.highlight No title
										|  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis
									a(href="blog-single.html") Read More

					.post.thumbnail-post
						.post-thumb
							a(href="blog-single.html")
								img(src="assets/blog/280_210-02.jpg", alt="")
						.post-content
							.post-thumbnail
								.icons-link
								a.link(href="#") Link Post
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
						.post-content
							.post-excerpt
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								a(href="blog-single.html") Read More

					.post
						#gmap
						.post-content
							h2.post-title 
								a(href="blog-single.html") Map Post
							ul.post-info
								li
									span 
										i.icon-calendar 
									a(href="#") MAY 27, 2015
								li
									span
										i.icon-pencil 
									a(href="#") Admin
								li
									span
										i.icon-pushpin 
									a(href="#") Category
								li
									span
										i.icon-comments-alt 
									a(href="#") 5 Comments						
							.post-excerpt
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								a(href="blog-single.html") Read More

					ul.dark-theme.simple-pagination
						li
							a.page-link.prev(href="#page-2") Prev
						li
							a.page-link(href="#page-1") 1
						li
							a.page-link(href="#page-2") 2
						li.active
							span.current 3
						li
							a.page-link(href="#page-4") 4
						li.disabled
							a.ellipse …
						li
							a.page-link(href="#page-18") 18
						li
							a.page-link(href="#page-19") 19
						li
							a.page-link(href="#page-20") 20
						li
							a.page-link.next(href="#page-4") Next

		script(src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7")
		script(src='js/maplace.min.js')
		include partials/footer
		