!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head


	body
		include partials/header
		.main-content
			.container
				.row-fluid
					.span6
						img.alignleft(src="assets/logo-big.png", alt="logo")
						p
							strong Light
							|  rerum hic incidunt odio iste voluptatem quo qui necessitatibus voluptatum dolore harum eaque quibusdam animi commodi explicabo dignissimos nulla sunt vero cumque.
						p Explicabo dignissimos nulla sunt vero cumque.
						p.muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
						p.text-warning Etiam porta sem malesuada magna mollis euismod.
						p.text-error Donec ullamcorper nulla non metus auctor fringilla.
						p Rum hic incidunt odio iste voluptatem quo qui necessitatibus voluptatum dolore harum eaque quibusdam animi commodi explicabo dignissimos nulla sunt vero cumque.
					.span6
						blockquote
							p Commodi explicabo dignissimos nulla sunt vero, necessitatibus voluptatum dolore harum eaque quibusdam animi.
							small Nesciunt Enim
						ul
							li Esse vero ullam cupiditate eaque.
							li Ullam cupiditate eaque.
								ul
									li Adipisci molestias consectetur voluptatem
									li Opisci molestias consectetur voluptatem
							li Animi odit quod pariatur adipisci. molestias consectetur voluptatem
						p.text-info Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis.
						p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
				.divider 
				
				ul.toggler
					li
						.toggler-heading
							i.icon-plus-sign
							p Lorem ipsum dolor sit amet?
							i.icon-circle-arrow-right
						.toggler-body.clearfix
							p Ipsum dolor sit amet, consectetur adipisicing elit. Ut, facere, nostrum, iure saepe beatae esse voluptas alias labore aliquam optio dolore iusto! Deserunt, veritatis tenetur molestias aspernatur quos aperiam vel?
							p Dolore qui nulla repudiandae in corrupti. Eligendi, laborum, distinctio dicta consequatur eaque dolore provident repellat accusamus.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, recusandae ipsa velit incidunt dolorem.
					li
						.toggler-heading
							i.icon-plus-sign
							p Ipsum dolor sit amet, consectetur adipisicing elit?
							i.icon-circle-arrow-right
						.toggler-body.clearfix
							p Ipsum dolor sit amet, consectetur adipisicing elit. Ut, facere, nostrum, iure saepe beatae esse voluptas alias labore aliquam optio dolore iusto! Deserunt, veritatis tenetur molestias aspernatur quos aperiam vel?
							p Dolore qui nulla repudiandae in corrupti. Eligendi, laborum, distinctio dicta consequatur eaque dolore provident repellat accusamus.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, recusandae ipsa velit incidunt dolorem.
					li
						.toggler-heading
							i.icon-plus-sign
							p Dolore qui nulla repudiandae in corrupti. Eligendi, laborum, distinctio dicta?
							i.icon-circle-arrow-right
						.toggler-body.clearfix
							p Ipsum dolor sit amet, consectetur adipisicing elit. Ut, facere, nostrum, iure saepe beatae esse voluptas alias labore aliquam optio dolore iusto! Deserunt, veritatis tenetur molestias aspernatur quos aperiam vel?
							p Dolore qui nulla repudiandae in corrupti. Eligendi, laborum, distinctio dicta consequatur eaque dolore provident repellat accusamus.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, recusandae ipsa velit incidunt dolorem.
					li
						.toggler-heading
							i.icon-plus-sign
							p Ipsum dolor sit amet?
							i.icon-circle-arrow-right
						.toggler-body.clearfix
							p Ipsum dolor sit amet, consectetur adipisicing elit. Ut, facere, nostrum, iure saepe beatae esse voluptas alias labore aliquam optio dolore iusto! Deserunt, veritatis tenetur molestias aspernatur quos aperiam vel?
							p Dolore qui nulla repudiandae in corrupti. Eligendi, laborum, distinctio dicta consequatur eaque dolore provident repellat accusamus.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, recusandae ipsa velit incidunt dolorem.
					li
						.toggler-heading
							i.icon-plus-sign
							p Lorem ipsum dolor sit amet?
							i.icon-circle-arrow-right
						.toggler-body.clearfix
							p Ipsum dolor sit amet, consectetur adipisicing elit. Ut, facere, nostrum, iure saepe beatae esse voluptas alias labore aliquam optio dolore iusto! Deserunt, veritatis tenetur molestias aspernatur quos aperiam vel?
							p Dolore qui nulla repudiandae in corrupti. Eligendi, laborum, distinctio dicta consequatur eaque dolore provident repellat accusamus.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, recusandae ipsa velit incidunt dolorem.
					li
						.toggler-heading
							i.icon-plus-sign
							p Ipsum dolor sit amet, consectetur adipisicing elit?
							i.icon-circle-arrow-right
						.toggler-body.clearfix
							p Ipsum dolor sit amet, consectetur adipisicing elit. Ut, facere, nostrum, iure saepe beatae esse voluptas alias labore aliquam optio dolore iusto! Deserunt, veritatis tenetur molestias aspernatur quos aperiam vel?
							p Dolore qui nulla repudiandae in corrupti. Eligendi, laborum, distinctio dicta consequatur eaque dolore provident repellat accusamus.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, recusandae ipsa velit incidunt dolorem.
					li
						.toggler-heading
							i.icon-plus-sign
							p Dolore qui nulla repudiandae in corrupti. Eligendi, laborum, distinctio dicta?
							i.icon-circle-arrow-right
						.toggler-body.clearfix
							p Ipsum dolor sit amet, consectetur adipisicing elit. Ut, facere, nostrum, iure saepe beatae esse voluptas alias labore aliquam optio dolore iusto! Deserunt, veritatis tenetur molestias aspernatur quos aperiam vel?
							p Dolore qui nulla repudiandae in corrupti. Eligendi, laborum, distinctio dicta consequatur eaque dolore provident repellat accusamus.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, recusandae ipsa velit incidunt dolorem.
					li
						.toggler-heading
							i.icon-plus-sign
							p Ipsum dolor sit amet?
							i.icon-circle-arrow-right
						.toggler-body.clearfix
							p Ipsum dolor sit amet, consectetur adipisicing elit. Ut, facere, nostrum, iure saepe beatae esse voluptas alias labore aliquam optio dolore iusto! Deserunt, veritatis tenetur molestias aspernatur quos aperiam vel?
							p Dolore qui nulla repudiandae in corrupti. Eligendi, laborum, distinctio dicta consequatur eaque dolore provident repellat accusamus.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, recusandae ipsa velit incidunt dolorem.


		include partials/footer
