!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head


	body
		include partials/header
		.main-content
			.container

				.services

					.row-fluid
						.span6.clearfix
							img(src="assets/services/230_230-01.jpg", alt="image")
							h3 Voluptas illo
							p Dolor sit amet, consectetur adipisicing elit. Vitae harum voluptas illo totam veniam dolor! Animi nobis at perferendis unde ut recusandae vel quibusdam ex corporis cumque iusto reiciendis id
						.span6.clearfix
							img(src="assets/services/230_230-02.jpg", alt="image")
							h3 Voluptas illo
							p Dolor sit amet, consectetur adipisicing elit. Vitae harum voluptas illo totam veniam dolor! Animi nobis at perferendis unde ut recusandae vel quibusdam ex corporis cumque iusto reiciendis id
					.row-fluid
						.span6.clearfix
							img(src="assets/services/230_230-03.jpg", alt="image")
							h3 Voluptas illo
							p Sit amet, consectetur adipisicing elit. Vitae harum voluptas illo totam veniam dolor! Animi nobis at perferendis unde ut recusandae vel quibusdam ex corporis cumque iusto reiciendis id
							p Dolor sit amet, consectetur adipisicing elit. Vitae harum voluptas illo totam veniam dolor! Animi nobis at perferendis unde ut recusandae vel quibusdam ex corporis cumque iusto reiciendis id
						.span6.clearfix
							img(src="assets/services/230_230-04.jpg", alt="image")
							h3 Voluptas illo
							p Sit amet, consectetur adipisicing elit. Vitae harum voluptas illo totam veniam dolor! Animi nobis at perferendis unde ut recusandae vel quibusdam ex corporis cumque iusto reiciendis id
							p Dolor sit amet, consectetur adipisicing elit. Vitae harum voluptas illo totam veniam dolor! Animi nobis at perferendis unde ut recusandae vel quibusdam ex corporis cumque iusto reiciendis id
					.row-fluid
						.span6.clearfix
							img(src="assets/services/230_230-05.jpg", alt="image")
							h3 Voluptas illo
							p Dolor sit amet, consectetur adipisicing elit. Vitae harum voluptas illo totam veniam dolor! Animi nobis at perferendis unde ut recusandae vel quibusdam ex corporis cumque iusto reiciendis id
						.span6.clearfix
							img(src="assets/services/230_230-06.jpg", alt="image")
							h3 Voluptas illo
							p Dolor sit amet, consectetur adipisicing elit. Vitae harum voluptas illo totam veniam dolor! Animi nobis at perferendis unde ut recusandae vel quibusdam ex corporis cumque iusto reiciendis id

		include partials/footer
