!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head

	body
		include partials/header

		.main-content
			.items-container.flexitems.container
				.item-portfolio.item-food
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-20.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-13.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-17.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-food
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-19.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-16.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-food
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-18.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-15.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-06.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-11.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here
				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-05.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-10.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here


				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-03.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-09.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-08.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-07.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-12.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-04.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-02.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-people
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-14.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here

				.item-portfolio.item-nature
					a(href="portfolio-detail.html")
						img(src="assets/portfolio/400_300-01.jpg", alt="")
						div
							span
								strong The title
								br
								| some description here


		include partials/footer
