!!! 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
	html.no-js.lt-ie9.lt-ie8
//if IE 8
	html.no-js.lt-ie9
//[if gt IE 8]><!
html.no-js
	//<![endif]
	include partials/head
	//- overwrite bootstrap CSS for seamless

	body
		include partials/header
		.content_wrapper
			.filters-container
				ul#items_filter.items-filters.clearfix
					li(data-filter="*") Show All
					li(data-filter=".item-beautful") Beautful
					li(data-filter=".item-wonderful") Wonderful
					li(data-filter=".item-amazing") Amazing

			.main-content
				#items_container.grid-container

					//- different from the "#blog_grid", "seamless_grid" so JS knows which function to trigger
					#portfolio_grid

						.item-portfolio.item-beautful
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-20.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Dmpor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-amazing
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_01.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Sidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						//- .item-portfolio.item-amazing
							.flexslider
								ul.slides
									li
										a(href="portfolio-detail.html")
											img(src="assets/portfolio/400_300-17.jpg", alt="")
									li
										a(href="portfolio-detail.html")
											img(src="assets/portfolio/400_300-19.jpg", alt="")
									li
										a(href="portfolio-detail.html")
											img(src="assets/portfolio/400_300-16.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-beautful
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-19.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Sen amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol.
								p Sidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								p Sidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-amazing
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-16.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-beautful
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-18.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-amazing
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-15.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								p Sen amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol.

						.item-portfolio.item-wonderful
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-06.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-amazing
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-11.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						.item-portfolio.item-wonderful
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-05.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-amazing
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-10.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.


						.item-portfolio.item-wonderful
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-03.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-amazing
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-09.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-wonderful
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-08.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-wonderful
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-07.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-amazing
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-12.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-wonderful
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-04.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-wonderful
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-02.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-amazing
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-14.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

						.item-portfolio.item-wonderful
							a(href="portfolio-detail.html")
								img(src="assets/portfolio/400_300-01.jpg", alt="")
							.item-content
								h2.item-title 
									a(href="#") The Title
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.

		include partials/footer
