.footer
	.container
		.row-fluid
			.span6
				ul.social-icons
					li 
						a(href="#")
							.icons-facebook
					li 
						a(href="#")
							.icons-rss
					li 
						a(href="#")
							.icons-tumblr
					li 
						a(href="#")
							.icons-twitter
					li 
						a(href="#")
							.icons-yahoo
			.span6
				p.copyright Copyright 2013 Light          


script(src='js/plugins.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.flexnav.min.js')
script(src='js/jquery.smooth-scroll.js')
script(src='js/jquery.parallax-1.1.3.js')
script(src='js/jquery.fitvids.js')
script(src='js/jquery.flexslider-min.js')
script(src='js/jquery.hoverdir.js')
script(src='js/jquery.isotope.min.js')
script(src='js/vendor/prettyphoto/js/jquery.prettyPhoto.js')
script(src='js/vendor/audiojs/audio.min.js')
script(src='js/main.js')